.primary-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

#message-box  {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 200px);
  bottom: 140px;
  padding: 10px;
  background-color: rgb(240, 240, 240);

  align-self: flex-start;
  z-index: 10;

  border: solid 1px black;
  border-radius: 10px;
  box-shadow: black 0px 0px 10px;
  opacity: 0;
  transition: transform .4s ease,
              opacity .4s ease;
  text-align: center;
  gap: 8px;
}

#message-box.visible {
    transform: translate(-50%, 0);
    opacity: 1;
}

@media (max-width: 772px) {
  #message-box {
    width: 100%;
    max-width: 70vw;
    bottom: 44px;
  }
}