#pokemon-card-complete {
    border: none;
    border-radius: 8px;
    color: black;
    transition: all .5s ease-in;
}
#pokemon-card-complete.opened {
    transition: all .5s ease-in-out;
}
#pokemon-card-complete::backdrop {
    background-color: rgba(0, 0, 0, 0);
    transition: all .3s ease-in;
}
#pokemon-card-complete.opened::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .3s ease-in;
}

.inner-dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    
    background-color: var(--primary-color);
    
    width: 500px;
    max-height: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    border: none;
    border-radius: 8px;
    padding: 30px;
    
    font-family: Comic;
    letter-spacing: 2px;

    background-color: white;
}

#loading-screen {
    display: flex;
}

#loading-screen::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#inner-loading-screen {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw; 
    height: 100vh;
}

#inner-loading-screen img {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.inner-dialog h2 {
    text-align: left;
    width: 90%;
    font-size: 28px;
}

#dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-btn {
    all: unset;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 50%;
}
.close-btn img {
    width: 44px;
    height: 44px;
}
.navigation-btn:focus, .navigation-btn:hover {
    box-shadow: white 0 0 20px; 
    transition: all .1s ease-in;
}

#dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#dialog-content figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;
}

#pokemon-preview {
    width: 300px;
    object-fit: cover;
    aspect-ratio: 1/1;
    filter: drop-shadow(20px 10px 10px #22222280);
}

#stats-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 270px;
    gap: 24px;
}

#stats-menue {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 82, 82);
    font-family: CreatoDisplay Bold;
}

#stats-menue span {
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: white;
    padding:  8px 0;
}

#stats-menue span a {
    color: white;
}

#stats-menue span:hover {
    background-color: rgb(0, 116, 116);
}

#stats-menue span.active {
    background-color: rgb(0, 150, 150);
}

.stats-table table {
  width: 100%;
  border-collapse: collapse;
  font-family: CreatoDisplay;
}

.stats-table th {
    font-family: CreatoDisplay Bold;
}
.stats-table th,
.stats-table td {
  padding: 8px;
  text-align: left;
  width: 50%;
}

.stats-table tr:nth-child(even) {
  background-color: rgba(201, 201, 201, 0.5);
}

#stats-content {
    height: 100%;
}

.evo-chain-rendered {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 100%;
    height: 100%;
}

.evo-chain-card {
    text-align: center;
}
.evo-chain-card img {
    width: 100px;
    object-fit: cover;
    aspect-ratio: 1/1;
    filter: drop-shadow(5px 2px 2px #22222280);
}

#main-stats, #battle-stats, #evo-chain {
    display: none;
    height: 100%;
}

#main-stats.active, #battle-stats.active, #evo-chain.active {
    display: flex;
}

@media (max-width: 992px) {
    .inner-dialog {
        padding: 30px;
    }
}

@media (max-width: 767px) {
    .inner-dialog {
        padding: 30px;
    }
}

@media (max-width: 568px) {
    .inner-dialog {
        padding: 30px;
    }
    .inner-dialog h2 {
        font-size: 28px;
        max-width: 70%;
    }
}

@media (max-width: 470px) {
    .inner-dialog h2 {
        font-size: 24px;
    }
}

@media (max-width: 400px) {
    #pokemon-card-complete {
        width: 90vw;
    }
    .inner-dialog {
        padding: 30px 25px;
    }
    .inner-dialog h2 {
        font-size: 20px;
    }
}
