@font-face {
    font-family: CreatoDisplay;
    src: url('.././assets/fonts/creato_display/CreatoDisplay-Regular.otf');
}
@font-face {
    font-family: CreatoDisplay Bold;
    src: url('.././assets/fonts/creato_display/CreatoDisplay-Bold.otf');
}