* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: CreatoDisplay;
}

/* Responsive Styling */

@media (max-width: 768px) {
    h1 {
    font-size: 44px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 26px;
    }
    h4 {
        font-size: 18px;
    }
}


@media (max-width: 480px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
}
    