#main-header {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 20px 0 50px rgba(0,0,0,0.1);
    background-color: #f8f9fa;
    position: sticky;
    top: 0;
    z-index: 1000;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px 0;
    padding: 0 50px;
    min-height: calc(100vh - 240px);
    gap: 100px;
}


.navbar {
    width: 100%;
    max-width: 1440px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.logo-link {
    height: 80%;
    display: flex;
    align-items: center;
}

.logo-link img {
    height: 80px;
}

.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

#search-category {
    padding: 8px;
}

#bar {
    display: flex;
}

.search-input {
    padding: 8px 12px;
    border: 1px solid #757575;
    border-radius: 4px 0 0 4px ;
    font-size: 14px;
    width: 250px;
    outline: none;
}

.search-button {
    border-radius: 0 4px 4px 0 !important;
}

.search-button:hover {
    background-color: #0056b3;
}

.error-card {
    background: #fff;
    text-align: center;
}
.error-card h2 {
    color: #d32f2f;
    margin-bottom: 0.5rem;
}
.error-card p {
    margin-bottom: 1.5rem;
}

#pokemon-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    max-width: 1920px;
}

#load-more-btns {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 32px;
}

#load-more-btns button {
    padding: 8px 12px;
    cursor: pointer;
}

#dialog-section {
    display: none;
}

#dialog-section.opened {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 20px 0 50px rgba(0,0,0,0.1);
    background-color: #f8f9fa;
}

#footer-content {
    max-width: 1440px;
    font-family: CreatoDisplay;
}